# ⚠️ Opcional: si no existe, el instalador preguntará por consola
# Copia este archivo como .env y personaliza los valores

# Tipo de servidor: vanilla | papermc | fabric | forge
SERVER_TYPE=

# Versión de Minecraft (ej: 1.21.4)
MC_VERSION=

# Server
MAX_PLAYERS=
LEVEL_NAME=

# RAM (si se dejan vacíos, se calculan automáticamente según la RAM disponible)
XMS=
XMX=